                                      PROYECTO TITANIC

El proyecto Titanic busca identificar mediante una plataforma on-line, el mejor modelo predictivo, con respecto a la 
sobrevivencia, que caracterice de la mejor manera las personas sobrevivientes.

In [41]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('titanic_train.csv', header=0)
test_df = pd.read_csv('titanic_test.csv', header=0)
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

Se lee la base titanic, la cual se encuentra dividida en dos parte train_df y tes_df, en la ultima no se encuentra la
variable "Survived" respuesta ya que con esta se compara en la plataforma y se proporciona el accuaracy por parte de
la misma.

La base se compone de las variables:
    Passengerld : La cual es un identificador del pasajero.
    Survived: Es una variable binario para identificar si la persona sobrevivio o no al accidente.
    Pclass: Determina la clase a cual pertenecia el pasajero.
    Name: Determina el nombre del pasajero.
    Sex: Establece el genero del pasajero.
    Age: Establece la edad del pasjero.
    SibSp: Es el numero de hermanos y conyuges abordo.
    Parch: Número de parientes o hijos abordo.
    Fare:Costo del tikete
    Cabin: Cabina de pasajeros.
    Emb

In [42]:
train_df.Age 
train_df.Age.mean()
train_df.Age.fillna(train_df.Age.median(), inplace=True)

train_df.Embarked.fillna("S", inplace=True)
train_df.Cabin.fillna("C", inplace=True)

In [43]:
train_df.Age 
train_df.Age.mean()
test_df.Age.fillna(test_df.Age.median(), inplace=True)

test_df.Embarked.fillna("S", inplace=True)
test_df.Fare.fillna(train_df.Fare.mean(), inplace=True)
test_df.Cabin.fillna("C", inplace=True)

Luego se imputa los datos faltantes en las variables Age, Cabin y Embarked en la base train_df y Fare en la base de test.

In [44]:
train_df["mother"]=0
train_df["category"]=0
train_df["child"]=0
train_df["father"]=0

In [45]:
train_df['Age2'] = train_df['Age'] ** 2
train_df.ix[((train_df.Sex=="female")&(train_df.Parch>0)),"mother"]=1
train_df.ix[(train_df.Sex=="male")&(train_df.Pclass==2),"category"]=1
train_df.ix[(train_df.Sex=="male")&(train_df.Pclass==3),"category"]=2
train_df.ix[(train_df.Age<=16),"child"]=1
train_df.ix[((train_df.Parch>0)&(train_df.Sex=="male")),"father"]=1

Se crean las siguientes variables:

mother: Esta variable dummy toma el valor de 1 cuando se es mujer y se tiene un número de parientes o hijos mayor a cero
es importante ya que la mayoria de mujeres y mas cuando eran madres se salvaron.
                
category: Esta variable toma el valor de 0 cuando se es hombre y la clase es 1, el valor de 1 cuando se es hombre y la 
clase es 2 , el valor de 2 cuando se es hombre y la clase es 3. Es importante ya que los hombres de mayor clase 
tenian prelacion ante los otros.
          
child: Esta variable toma el valor de 1 si se es menor de 16 años. Es importante porque los primeros en embarcar en los 
botes eran las mujeres y los niños.

father: Esta variable dummy toma el valor de 1 cuando se es hombre y se tiene un número de parientes o hijos mayor a cero
           es importante ya que la mayoria de mujeres y mas cuando eran madres se salvaron. Es importante porque los hombres con 
           hijos podrian tener prelacion a los demas hombres.

In [46]:
train_df["man_s"]=0
train_df.ix[((train_df.Pclass==3)&(train_df.father==1)),"man_s"]=1

man_s: Esta variable toma el valor de 1 si se es padre y se pertenece a la clase 3. Es importante por que los hombres con hijos
de la clase 3 tenian alta probabilidad de sobrevivir en los botes

In [47]:

embarked_dummies = pd.get_dummies(train_df.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
train_df = pd.concat([train_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(train_df.Pclass, prefix='Pclass')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
train_df = pd.concat([train_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(train_df.Sex, prefix='Sex')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
train_df = pd.concat([train_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(train_df.category, prefix='category')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
train_df = pd.concat([train_df, embarked_dummies], axis=1)

In [48]:
##### ahoras test

In [49]:
test_df["mother"]=0
test_df["category"]=0
test_df["child"]=0
test_df["father"]=0

In [50]:
test_df['Age2'] = test_df['Age'] ** 2
test_df.ix[((test_df.Sex=="female")&(test_df.Parch>0)),"mother"]=1
test_df.ix[(test_df.Sex=="male")&(test_df.Pclass==2),"category"]=1
test_df.ix[(test_df.Sex=="male")&(test_df.Pclass==3),"category"]=2
test_df.ix[(test_df.Age<=16),"child"]=1  
test_df.ix[((test_df.Parch>0)&(test_df.Sex=="male")),"father"]=1

In [51]:
test_df["man_s"]=0
test_df.ix[((test_df.Pclass==3)&(test_df.father==1)),"man_s"]=1

In [52]:
embarked_dummies = pd.get_dummies(test_df.Embarked, prefix='Embarked')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
test_df = pd.concat([test_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(test_df.Pclass, prefix='Pclass')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
test_df = pd.concat([test_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(test_df.Sex, prefix='Sex')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
test_df = pd.concat([test_df, embarked_dummies], axis=1)

embarked_dummies = pd.get_dummies(test_df.category, prefix='category')
embarked_dummies.drop(embarked_dummies.columns[0], axis=1, inplace=True)
test_df = pd.concat([test_df, embarked_dummies], axis=1)

In [53]:
test_df.ix[((test_df.Parch>0)&(test_df.Sex=="male")),"father"]=1

In [54]:
test_df["man_s"]=0
test_df.ix[((test_df.Pclass==3)&(test_df.father==1)),"man_s"]=1

Se crean la dumys correspondientes a las variables definidas anteriormente, Embarked, Pclass, Sex, category.

In [55]:
train_df.head(1).columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'mother', 'category',
       'child', 'father', 'Age2', 'man_s', 'Embarked_Q', 'Embarked_S',
       'Pclass_2', 'Pclass_3', 'Sex_male', 'category_1', 'category_2'],
      dtype='object')

In [56]:
train_df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,father,Age2,man_s,Embarked_Q,Embarked_S,Pclass_2,Pclass_3,Sex_male,category_1,category_2
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,...,0,484,0,0,1,0,1,1,0,1

In [57]:
y = train_df['Survived']
features = ['Pclass', 'Age', 'SibSp','Parch','Fare', 'mother', 'category',
       'child', 'father', 'Age2', 'man_s', 'Embarked_Q', 'Embarked_S',
       'Pclass_2', 'Pclass_3', 'Sex_male', 'category_1', 'category_2']

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_df, y, random_state=1)

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
logreg.fit(X_train[features], y_train)

# make predictions for testing set
y_pred_class = logreg.predict(X_test[features])

# calculate testing accuracy
from sklearn import metrics
print(metrics.accuracy_score(y_test, y_pred_class))

0.780269058296

Se realiza una regresión con las variables correspondientes en la parte de arriba, denominadas features.

In [58]:
len(features)

18

In [59]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score
logreg = LogisticRegression(C=1e9)
import pandas as pd

import numpy as np

from sklearn.feature_selection import SelectKBest

t=pd.DataFrame(index=range(18), columns=['accuracy'])

for i in range(1,18):
    sel = SelectKBest(k=i)
    sel.fit(train_df[features], y)
    sel.get_support()
    X_sel = sel.transform(train_df[features])
    t.loc[i]=pd.Series(cross_val_score(logreg, X_sel, y, cv=10, scoring='accuracy')).mean()

print(t)

    accuracy
0        NaN
1   0.786698
2   0.786698
3   0.786698
4    0.77334
5    0.77334
6   0.776711
7   0.801355
8   0.801355
9   0.794639
10  0.806999
11  0.808135
12  0.808135
13  0.805862
14   0.79806
15  0.800282
16  0.796886
17  0.809259

Se seleccionan las variables que tiene mejor accuracy en el modelo.

In [60]:
sel = SelectKBest(k=18)
sel.fit(train_df[features], y)
sel.get_support()
X_sel = sel.transform(train_df[features])

In [61]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(C=1e9)
logreg.fit(X_sel, y)

X_sel_test= sel.transform(test_df[features])
predict=logreg.predict(X_sel_test)

Se crea la prediccion para la variable Survived y se guarda en un archivo csv.

In [62]:
submission = pd.DataFrame({ 'PassengerId': test_df['PassengerId'],
                            'Survived': predict })
submission.to_csv("titanic5_submission.csv", index=False)

Ahora se utiliza un proceso de validación cruzada con las variables anteriormente definida.

In [64]:

from sklearn.cross_validation import KFold
kf = KFold(X.shape[0], n_folds=10, random_state=0)

results = []
models = []
for train_index, test_index in kf:
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    # train a logistic regression model
    models.append(LogisticRegression(C=1e9))
    
    models[-1].fit(X_train, y_train)

    # make predictions for testing set
    y_pred_class = models[-1].predict(X_test)

    # calculate testing accuracy
    results.append(metrics.accuracy_score(y_test, y_pred_class))

In [65]:
results

[0.80000000000000004,
 0.8314606741573034,
 0.7752808988764045,
 0.797752808988764,
 0.7752808988764045,
 0.797752808988764,
 0.797752808988764,
 0.797752808988764,
 0.9101123595505618,
 0.8089887640449438]

Se realiza el proces de Kfold Crossvalidation y se establece cual es el número que maximiza el accuracy.

In [66]:
probas = pd.DataFrame(index=test_df[features].index, columns=['p'+ str(i) for i in range(10)])

In [67]:
for i in range(10):
    proba = models[i].predict_proba(test_df[features])[:, 1]
    probas.iloc[:, i] = proba

In [68]:
probas.head()

,p0,p1,p2,p3,p4,p5,p6,p7,p8,p9
0,0.131205,0.139374,0.141690,0.118044,0.145985,0.149572,0.145261,0.162731,0.168741,0.135189
1,0.277123,0.330972,0.301862,0.248458,0.338792,0.294738,0.279849,0.268721,0.331785,0.350959
2,0.089963,0.133830,0.127072,0.081669,0.125007,0.113306,0.086028,0.101246,0.133962,0.106757
3,0.111879,0.107013,0.110362,0.105324,0.106513,0.117665,0.115567,0.113063,0.120821,0.116683
4,0.335846,0.367594,0.400369,0.336626,0.409575,0.376937,0.380822,0.400171,0.383149,0.374209

In [69]:
predictions = ((probas.mean(axis=1) > 0.5) * 1.0).values

In [70]:
predictions = predictions.astype(np.int)

In [71]:
np.argmax(results)

8

In [303]:
train_index, test_index = list(kf)[8]
X_train, X_test = X.iloc[train_index], X.iloc[test_index]
y_train, y_test = y.iloc[train_index], y.iloc[test_index]

logres = LogisticRegression(C=1e9)
logres.fit(X_train, y_train)
predict= logreg.predict(test_df[features])

In [ ]:
Se realiza la predicción para la variable survived y se guarda en un archivo csv, al realizar el modelo de esta forma
mejora considerablemente el accuaracy a comparaci

In [304]:
submission = pd.DataFrame({ 'PassengerId': test_df['PassengerId'],
                            'Survived': predict })
submission.to_csv("titanic6_submission.csv", index=False)