# Exercise 13

This particular Automobile Data Set includes a good mix of categorical values as well as continuous values and serves as a useful example that is relatively easy to understand. Since domain understanding is an important aspect when deciding how to encode various categorical values - this data set makes a good case study.

Read the data into Pandas

In [531]:
import pandas as pd

# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [532]:
df.shape

(205, 26)

In [533]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_doors             object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_cylinders         object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [534]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

# Exercise 13.1

Does the database contain missing values? If so, replace them using one of the methods explained in class

In [535]:
obj_df.isnull().sum()

make               0
fuel_type          0
aspiration         0
num_doors          2
body_style         0
drive_wheels       0
engine_location    0
engine_type        0
num_cylinders      0
fuel_system        0
dtype: int64

In [536]:
# tabla de frecuencia de clases de pasajeros
pd.value_counts(obj_df['num_doors'])

four    114
two      89
Name: num_doors, dtype: int64

In [537]:
# Categorizar la variable de Doors para facilitar la imputación
obj_df['num_doors_N'] = 4
obj_df.loc[(obj_df['num_doors'] =='four'), 'num_doors_N'] = 4
obj_df.loc[(obj_df['num_doors'] =='two'), 'num_doors_N'] = 2

In [538]:
# tabla de frecuencia de clases de pasajeros
pd.value_counts(obj_df['num_doors_N'])

4    116
2     89
Name: num_doors_N, dtype: int64

In [539]:
obj_df_mean=obj_df.groupby(['make','body_style','aspiration','engine_location','num_cylinders'])['num_doors_N'].max()
obj_df_mean=pd.DataFrame(obj_df_mean)
obj_df_mean=obj_df_mean.rename(columns={'num_doors_N':'num_doors_N_max'})
obj_df_mean.head(10)

                                                                  num_doors_N_max
make        body_style  aspiration engine_location num_cylinders
alfa-romero convertible std        front           four                         2
            hatchback   std        front           six                          2
audi        hatchback   turbo      front           five                         2
            sedan       std        front           five                         4
                                                   four                         4
                        turbo      front           five                         4
            wagon       std        front           five                         4
bmw         sedan       std        front           four                         4
                                                   six                          4
chevrolet   hatchback   std        front           four                         2

In [540]:
obj_df_mean=pd.DataFrame(obj_df_mean)
obj_df_mean.head(5)

                                                                  num_doors_N_max
make        body_style  aspiration engine_location num_cylinders
alfa-romero convertible std        front           four                         2
            hatchback   std        front           six                          2
audi        hatchback   turbo      front           five                         2
            sedan       std        front           five                         4
                                                   four                         4

In [541]:
obj_df=pd.merge(obj_df,obj_df_mean,on=['make','body_style','aspiration','engine_location','num_cylinders'], how='left')
obj_df.head(5)

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,num_doors_N,num_doors_N_max
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,2,2
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,2,2
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2,2
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,4,4
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,4,4

In [542]:
obj_df['num_doors_N_max'].isnull().sum()

0

In [543]:
obj_df.loc[(obj_df['num_doors'].isnull()) & (obj_df['num_doors_N_max']==2), 'num_doors'] = 'two'
obj_df.loc[(obj_df['num_doors'].isnull()) & (obj_df['num_doors_N_max']==4), 'num_doors'] = 'four'

In [544]:
print(obj_df.loc[(X['num_doors'].isnull())])

Empty DataFrame
Columns: [make, fuel_type, aspiration, num_doors, body_style, drive_wheels, engine_location, engine_type, num_cylinders, fuel_system, num_doors_N, num_doors_N_max]
Index: []

In [545]:
y=df[['make','body_style','aspiration','engine_location','num_cylinders','price']]
#X_train1=X_train.drop(columns=['num_doors_N','num_doors_N_max'])

In [546]:
y_mean=y.groupby(['make','body_style','aspiration','engine_location','num_cylinders'])['price'].mean()
y_mean=pd.DataFrame(y_mean)
y_mean=y_mean.rename(columns={'price':'price_mean'})
y_mean.head(10)

                                                                    price_mean
make        body_style  aspiration engine_location num_cylinders
alfa-romero convertible std        front           four           14997.500000
            hatchback   std        front           six            16500.000000
audi        hatchback   turbo      front           five                    NaN
            sedan       std        front           five           16803.333333
                                                   four           13950.000000
                        turbo      front           five           23875.000000
            wagon       std        front           five           18920.000000
bmw         sedan       std        front           four           16677.500000
                                                   six            29265.833333
chevrolet   hatchback   std        front           four            6295.000000

In [547]:
y_mean2=y.groupby(['make','body_style','aspiration'])['price'].mean()
y_mean2=pd.DataFrame(y_mean2)
y_mean2=y_mean2.rename(columns={'price':'price_mean_2'})
y_mean2.head(10)

                                    price_mean_2
make        body_style  aspiration
alfa-romero convertible std         14997.500000
            hatchback   std         16500.000000
audi        hatchback   turbo                NaN
            sedan       std         16090.000000
                        turbo       23875.000000
            wagon       std         18920.000000
bmw         sedan       std         26118.750000
chevrolet   hatchback   std          5723.000000
            sedan       std          6575.000000
dodge       hatchback   std          6059.333333

In [548]:
y_mean3=y.groupby(['make','body_style'])['price'].mean()
y_mean3=pd.DataFrame(y_mean3)
y_mean3=y_mean3.rename(columns={'price':'price_mean_3'})
y_mean3.head(10)

                         price_mean_3
make        body_style
alfa-romero convertible  14997.500000
            hatchback    16500.000000
audi        hatchback             NaN
            sedan        17647.000000
            wagon        18920.000000
bmw         sedan        26118.750000
chevrolet   hatchback     5723.000000
            sedan         6575.000000
dodge       hatchback     7819.800000
            sedan         7619.666667

In [549]:
y_mean4=y.groupby(['make'])['price'].mean()
y_mean4=pd.DataFrame(y_mean4)
y_mean4=y_mean4.rename(columns={'price':'price_mean_4'})
y_mean4.head(10)

               price_mean_4
make
alfa-romero    15498.333333
audi           17859.166667
bmw            26118.750000
chevrolet       6007.000000
dodge           7875.444444
honda           8184.692308
isuzu           8916.500000
jaguar         34600.000000
mazda          10652.882353
mercedes-benz  33647.000000

In [550]:
y=pd.merge(y,y_mean,on=['make','body_style','aspiration','engine_location','num_cylinders'], how='left')
y.head(5)

,make,body_style,aspiration,engine_location,num_cylinders,price,price_mean
0,alfa-romero,convertible,std,front,four,13495.0,14997.500000
1,alfa-romero,convertible,std,front,four,16500.0,14997.500000
2,alfa-romero,hatchback,std,front,six,16500.0,16500.000000
3,audi,sedan,std,front,four,13950.0,13950.000000
4,audi,sedan,std,front,five,17450.0,16803.333333

In [551]:
# Categorizar la variable de Doors para facilitar la imputación
y.loc[(y['price'].isnull()), 'price'] = y['price_mean']
y.head(5)

,make,body_style,aspiration,engine_location,num_cylinders,price,price_mean
0,alfa-romero,convertible,std,front,four,13495.0,14997.500000
1,alfa-romero,convertible,std,front,four,16500.0,14997.500000
2,alfa-romero,hatchback,std,front,six,16500.0,16500.000000
3,audi,sedan,std,front,four,13950.0,13950.000000
4,audi,sedan,std,front,five,17450.0,16803.333333

In [552]:
y['price'].isnull().sum()

2

In [553]:
y=pd.merge(y,y_mean2,on=['make','body_style','aspiration'], how='left')
# Categorizar la variable de Doors para facilitar la imputación
y.loc[(y['price'].isnull()), 'price'] = y['price_mean_2']
y['price'].isnull().sum()

1

In [554]:
y=pd.merge(y,y_mean3,on=['make','body_style'], how='left')
# Categorizar la variable de Doors para facilitar la imputación
y.loc[(y['price'].isnull()), 'price'] = y['price_mean_3']
y['price'].isnull().sum()

1

In [555]:
y=pd.merge(y,y_mean4,on=['make'], how='left')
# Categorizar la variable de Doors para facilitar la imputación
y.loc[(y['price'].isnull()), 'price'] = y['price_mean_4']
y['price'].isnull().sum()

0

# Exercise 13.2

Split the data into training and testing sets

Train a Random Forest Regressor to predict the price of a car using the escalares features

In [556]:
X=obj_df

In [557]:
y=y['price']

In [558]:
X.shape

(205, 12)

In [559]:
y.shape

(205,)

In [560]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [561]:
X_train.shape

(102, 12)

In [562]:
y_train.shape

(102,)

In [563]:
X_train1=X_train.drop(columns=['num_doors_N','num_doors_N_max'])
X_train1.head(5)

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
126,porsche,gas,std,two,hardtop,rwd,rear,ohcf,six,mpfi
196,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi
141,subaru,gas,std,four,sedan,fwd,front,ohcf,four,2bbl
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
32,honda,gas,std,two,hatchback,fwd,front,ohc,four,1bbl

In [564]:
X_train1.columns

Index(['make', 'fuel_type', 'aspiration', 'num_doors', 'body_style',
       'drive_wheels', 'engine_location', 'engine_type', 'num_cylinders',
       'fuel_system'],
      dtype='object')

In [565]:
#cleanup_nums = {"num_doors":     {"four": 4, "two": 2},
#                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8,
#                                  "two": 2, "twelve": 12, "three":3 }}

In [566]:
obj_df["body_style"] = obj_df["body_style"].astype('category')
obj_df.dtypes

make                 object
fuel_type            object
aspiration           object
num_doors            object
body_style         category
drive_wheels         object
engine_location      object
engine_type          object
num_cylinders        object
fuel_system          object
num_doors_N           int64
num_doors_N_max       int64
dtype: object

In [568]:
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system,num_doors_N,num_doors_N_max
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,2,2
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,2,2
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2,2
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,4,4
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,4,4

In [567]:
from sklearn.tree import DecisionTreeRegressor
clf = DecisionTreeRegressor(max_depth=None, random_state=1)
clf.fit(X_train1, y_train)
#clf.score(X_test, y_test)

# use leave-one-out cross-validation (LOOCV) to estimate the RMSE for this model

#scores = cross_val_score(clf, X_test, y_test, cv=14, scoring='neg_mean_squared_error')
#np.mean(np.sqrt(-scores))

ValueError: could not convert string to float: 'mpfi'

# Exercise 13.3

Create dummy variables for the categorical features

Train a Random Forest Regressor and compare

In [ ]:
X_train.columns

In [ ]:
X_train.loc[(X_train['num_doors'].isnull()) & (X_train['num_doors_N_max']==2), 'num_doors'] = 'two'
X_train.loc[(X_train['num_doors'].isnull()) & (X_train['num_doors_N_max']==4), 'num_doors'] = 'four'

In [ ]:
X_train['num_doors'].isnull().sum()

In [ ]:
print(X_train.loc[(X_train['num_doors'].isnull())])

In [ ]:
import category_encoders as ce
X_train=pd.DataFrame(X_train)
X_train=X_train.drop(columns=['num_doors_N','num_doors_N_max'])
X_train.head(5)

In [ ]:
X_train = ce.BinaryEncoder().fit_transform(X_train)

In [ ]:
X_train.head()

In [ ]:
y_train.isnull().sum()

In [ ]:
X_test.head()

In [ ]:
X_test.head()

In [ ]:
X_test=pd.DataFrame(X_test)
X_test=X_test.drop(columns=['num_doors_N','num_doors_N_max'])
X_test = ce.BinaryEncoder().fit_transform(X_test)
X_test.head(5)

In [ ]:
X_train.columns

In [ ]:
X_test.columns

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
import numpy as np
clf = DecisionTreeRegressor(max_depth=None, random_state=1)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

# use leave-one-out cross-validation (LOOCV) to estimate the RMSE for this model

scores = cross_val_score(clf, X_test, y_test, cv=14, scoring='neg_mean_squared_error')
np.mean(np.sqrt(-scores))

# Exercise 13.4

Apply two other methods of categorical encoding

compare the results